<div th:fragment="footer">
    <!--[if lt IE 9]>
    <script src="//cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="/js/polyfill/rem.min.js"></script>
    <script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/md.js"></script>
    <script src="/js/tomd.js"></script>
    <script src="/js/am-md.js"></script>
    <!--<![endif]-->

    </body>
    </html>
</div>