<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理论坛</title>
    <link rel="stylesheet" href="common/common-layout.css">
</head>
<body>
<div class="common">
    <div>
        <a th:href="@{/}">返回首页</a>
    </div>
    <div>
        <section th:each="card : ${cards}">
            <div th:text="${card.content}"></div>
            用户名: <span th:text="${card.userName}"></span> |
            level: <span th:text="${card.level}"></span> |
            是否精品帖子:<span th:text="${card.mark}"></span> |
            <a th:href="@{/card/comment(userid=${card.userName}, cardid=${card.id})}">详情</a> |
            <a th:href="@{/admin/delete(cardid=${card.id})}">删除</a> |
            <a th:href="@{/admin/mark(cardid=${card.id})}">标记为精品帖子</a> |
            <hr>
        </section>
    </div>
</div>
</body>
</html>