<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
<a th:href="@{/}">返回首页</a>
<section>

    <section th:each="card : ${cards}">
        <p th:text="${card.content}"></p>
        <hr>
        <section th:each="comment : ${comments}">
            <hr>
            <p th:text="${comment.content}"></p>
            评论人: <span th:text="${comment.userName}"></span>
            <hr>
        </section>
        <hr>
        <form th:action="@{/card/comment(cardid=${card.id})}" method="post" th:object="${Comment}">
            <textarea name="content" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" th:value="提交评论">
            </form>
    </section>
</section>




</body>
</html>