<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title sec:authentication="name"></title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>


    <!-- Amaze UI CSS -->
    <link rel="stylesheet" href="//cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/am-md.css">
    <link rel="stylesheet" href="/common/common-layout.css">
</head>
<body>
<div></div>
<div th:replace="fragments/header :: header"></div>
<div class="am-g am-g-fixed blog-g-fixed am-margin-top am-center" th:each="card : ${cards}">
    <div class="am-u-md-12">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title" th:text="${card.title}"></h1>
                <p class="am-article-meta" th:text="${card.userName}">陈启佑（台湾）</p>
            </div>

            <div class="am-article-bd">
                <p class="am-article-lead" th:text="${card.content}"></p>
            </div>
        </article>
    </div>
    <div class="am-u-md-12" >
        <section th:each="comment : ${comments}">
            <div>
                <div th:text="${comment.content}"></div>
                <br>
                评论人: <span th:text="${comment.userName}"></span>
            </div>
            <br>
            <br>
        </section>
    </div>

    <div class="am-u-md-12">
        <form th:action="@{/card/comment(cardid=${card.id})}" method="post" th:object="${Comment}">
            <textarea data-am-md name="content"></textarea>
            <br>
            <input type="submit" th:value="提交评论">
        </form>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>