<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
    <!--<link rel="stylesheet" href="common/common-layout.css">-->
    <style>
        div.common {
            max-width: 1080px;
            min-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<div class="common">
    <div><a th:href="@{/}">返回首页</a></div>
    <section th:each="card : ${cards}">
        <section>
            <p th:text="${card.content}"></p>
        </section>
        <hr>
        <section th:each="comment : ${comments}">
            <div>
                <div th:text="${comment.content}"></div>
                <br>
                评论人: <span th:text="${comment.userName}"></span>
            </div>
            <br>
            <br>
        </section>
        <hr>
        <form th:action="@{/card/comment(cardid=${card.id})}" method="post" th:object="${Comment}">
            <textarea name="content" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" th:value="提交评论">
            </form>
    </section>
</div>

</body>
</html>