
<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title sec:authentication="name"></title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>


    <!-- Amaze UI CSS -->
    <link rel="stylesheet" href="//cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">
    <link rel="stylesheet" href="common/common-layout.css">
</head>
<body>
<div></div>
<div th:replace="fragments/header :: header"></div>
<div class="common">
    <section th:each="card : ${cards}">
        <div th:text="${card.content}"></div>
        用户名 : <span th:text="${card.userName}"></span>
        <br>
        帖子等级 : <span th:text="${card.level}"></span>
        <br>
        是否精品文件:<span th:text="${card.mark}"></span>
        <br>
        <a th:href="@{/card/comment(userid=${card.userName}, cardid=${card.id})}">详情</a>
        <hr>
    </section>

<div>
    <form action="" th:action="@{/}" method="POST" th:object="${Card}">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit" th:value="提交">
    </form>
</div>
</div>


<div th:replace="fragments/footer :: footer"></div>