<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>my cards</title>
</head>
<body>
    <div>
        <section th:each="mycard : ${mycards}">
            <p th:text="${mycard.content}"></p>
            <br>
            <span th:text="${mycard.id}"></span> |
            帖子等级 : <span th:text="${mycard.level}"></span> |
            是够精品帖子 : <span th:text="${mycard.mark}"></span> |
            用户名 : <span th:text="${mycard.userName}"></span> |
            <span><a th:href="@{/card/comment(userid=${mycard.userName}, cardid=${mycard.id})}">详情</a></span> |
            <span><a th:href="@{/mycard/delete(cardid=${mycard.id})}">删除</a></span>
            <hr>
        </section>
    </div>
</body>
</html>