<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div>
    <form th:action="@{/change/secret}" method="post">
        <label for="old-secret">旧的密码:</label>
        <input type="password" name="old-secret" id="old-secret">
        <br>
        <label for="new-secret">新的密码:</label>
        <input type="password" id="new-secret" name="new-secret">
        <br>
        <label for="new-secret-again">再输入新密码:</label>
        <input type="password" id="new-secret-again">
        <br>
        <input type="submit" value="确认修改">
    </form>
</div>
</body>
</html>